<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4ba4844-277a-44e0-b996-57e01756fb50" Alias="bloggPage" Level="2">
  <Info>
    <Name>Blogg Page</Name>
    <Icon>icon-article color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5dd14bb-2007-42d7-9111-6c85704ac11d">contentProperties</Composition>
      <Composition Key="ed77d19a-f8d0-4b06-9a0b-eb34ee99a19e">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>BloggPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dcc92bad-001d-4da4-98d3-5325e683d8bd">BloggPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>