<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65f612fd-f3fb-49c8-84f7-8c06b99f25d8" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5dd14bb-2007-42d7-9111-6c85704ac11d">contentProperties</Composition>
      <Composition Key="ed77d19a-f8d0-4b06-9a0b-eb34ee99a19e">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b0043b85-83a4-4435-bd6b-4f40c1d2819b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="835c65a0-1e54-4682-9bef-4c3eb7bb7f56" SortOrder="0">methodsPage</ContentType>
    <ContentType Key="c4ba4844-277a-44e0-b996-57e01756fb50" SortOrder="1">bloggPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>