<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="835c65a0-1e54-4682-9bef-4c3eb7bb7f56" Alias="methodsPage" Level="2">
  <Info>
    <Name>Methods Page</Name>
    <Icon>icon-handshake color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5dd14bb-2007-42d7-9111-6c85704ac11d">contentProperties</Composition>
      <Composition Key="ed77d19a-f8d0-4b06-9a0b-eb34ee99a19e">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>MethodsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9ec6f006-894f-4b42-a56f-fd64bcefdc9e">MethodsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>