@import '_content/BlazorStrap.V5/BlazorStrap.V5.bundle.scp.css';
@import '_content/BlazorStrap/BlazorStrap.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-8whw3tcjxp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

