<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe1ed3db-c0b3-4df0-92a4-270db9a8cd54" Alias="Blogg" Level="2">
  <Info>
    <Parent Key="5ba8b976-8857-4066-911f-598c3fdc376a">Hem</Parent>
    <Path>/Hem/Blogg</Path>
    <Trashed>false</Trashed>
    <ContentType>bloggPage</ContentType>
    <CreateDate>2022-12-28T22:58:57</CreateDate>
    <NodeName Default="Blogg" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dcc92bad-001d-4da4-98d3-5325e683d8bd">BloggPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/tgqhvvlx/blogg.jpg"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[BOOSTA LYCKA UNDER CORONA-RESTRIKTIONER.]]></Value>
    </title>
  </Properties>
</Content>