<?xml version="1.0" encoding="utf-8"?>
<Content Key="3914ad53-9a08-42b1-b83a-96e3dfa1b29b" Alias="Metoder" Level="2">
  <Info>
    <Parent Key="5ba8b976-8857-4066-911f-598c3fdc376a">Hem</Parent>
    <Path>/Hem/Metoder</Path>
    <Trashed>false</Trashed>
    <ContentType>methodsPage</ContentType>
    <CreateDate>2022-12-28T22:57:38</CreateDate>
    <NodeName Default="Metoder" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ec6f006-894f-4b42-a56f-fd64bcefdc9e">MethodsPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<div class="row sqs-row">
<div class="col sqs-col-8 span-8">
<div id="block-84e449821adf8d3b79b2" class="sqs-block html-block sqs-block-html" data-block-type="2">
<div class="sqs-block-content">
<p class="">Med <strong><em>kognitiv beteendeterapi</em></strong> arbetar vi som namnet antyder med kognition och beteende. Kognition kan beskrivas innefatta allt som sker från det att vi via sinnesorganen tar in ny information till att vi reagerar. Alltså innefattar det i princip allt som sker medvetet och ibland omedvetet i våra hjärnor. Tankar, minne, språk, problemlösning, planering och fantasier är exempel som alla ingår i begreppet kognition. Inom den kognitiva terapin ligger fokus ofta på våra tankar och tolkningar och hur dessa påverkar oss och våra beteenden.<br>Det andra benet i KBT; beteendeterapi fokuserar på arbete med att förändra beteenden, vilka i sin tur påverkar tankar och känslor. Beteendeterapi har sin grund i inlärningsteori där man utgår ifrån att de flesta av våra beteenden är inlärda vilket innebär att de också går att lära om och lära in nytt.</p>
<p class="">KBT har brett vetenskapligt stöd för behandling av en mängd problem och tillstånd, till exempel social fobi, panikångest, depression och OCD för att nämna några.</p>
</div>
</div>
</div>
</div>
<div id="block-ac03ad55f657e84ceb0b" class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"></div>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/chphaewm/metoder.jpg"
}]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[våra]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[METODER]]></Value>
    </title>
  </Properties>
</Content>