@page "/Blog"
<PageTitle>Psykologkompassen - Blog</PageTitle>

@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@using Models
@inject IConfiguration Configuration

@if (allPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                @foreach (var blogPost in allPosts.data)
                {
                    <h2 class="">@blogPost.Title</h2>
                    <div class="">@blogPost.Content</div>

                    <div class="fw-light">
                        Författare
                        @blogPost.Author
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />

                }
            </div>
        </div>
    </div>
}


@code {
    private PostList allPosts = null;
    public string strapi_api_url;

    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["AppSettings:STRAPI_API_URL"];
        var url = "{STRAPI_API_URL}/api/blogposts?populate=*";
        allPosts = await Http.GetFromJsonAsync<PostList>(url.Replace("{STRAPI_API_URL}", strapi_api_url));
        @* allPosts = await Http.GetFromJsonAsync<PostList>("http://localhost:1337/api/blogposts?populate=*"); *@

    }

    public class Post
    {
        public int Id { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
        public string Author { get; set; }

    }

    public class Image
    {
        public string Url { get; set; }
    }

    public class PostList
    {
        public List<Post> data { get; set; }
    }

}