@page "/"

<PageTitle> Psykologkompassen</PageTitle>
<Navbar />
<PageHeader />
<div class="container px-4 px-lg-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>"Med över 35 års erfarenhet av psykologarbete vill jag med värme, närvaro och
                glädje erbjuda evidensbaserad
                utredning, åtgärd och behandling till grupper, individer och organisationer. Vårt mål är att ert möte
                med
                oss skall leda till att en tydlig riktning tas ut och att en förändring startar."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            MONIKA SÖDERLUND
            <cite title="Source Title">VD PSYKOLOGKOMPASSEN</cite>
        </figcaption>
    </figure>
</div>