@page "/Organisation"
<PageTitle>Organisation - Psykologkompassen</PageTitle>

@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@using Models
@inject IConfiguration Configuration

@if (pageContent == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div>@((MarkupString)pageContent.data[0].Methods)</div>
            </div>
        </div>
    </div>
}
@code {
    private PageContent pageContent = null;
    public string strapi_api_url;

    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["AppSettings:STRAPI_API_URL"];
        var url = "{STRAPI_API_URL}/api/organisations?populate=*";
        pageContent = await Http.GetFromJsonAsync<PageContent>(url.Replace("{STRAPI_API_URL}", strapi_api_url));
    }

    public class Content
    {
        public string Methods { get; set; }

    }

    public class PageContent
    {
        public List<Content> data { get; set; }

    }

}