<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="small text-center text-muted">Psykologkompassen AB</div>
            <div class="small text-center text-muted">KALIX, LULEÅ och STOCKHOLM</div>
            <div class="small text-center text-muted">Tel. 070 - 361 84 66</div>
            <div class="small text-center text-muted">info@psykologkompassen.se</div>
        </div>
    </div>
</footer>