<header class="masthead" style="background-image: url(@ImageUrl)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div>
                <div class="site-heading">
                    <span class="subheading font-weight-light d-block d-md-inline" style='
                            font-family: "adobe-garamond-pro";
                            font-style: italic;
                            color: #fff;
                            margin: 20px auto;'>
                        @SubTitle
                    </span>
                    <h1 class="font-weight-light d-block d-md-inline" style="letter-spacing: 0.0588235em;">
                        @Title
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>


@code {

    [Parameter]
    public string ImageUrl { get; set; } = "/images/trad.jpg";
    [Parameter]
    public string SubTitle { get; set; } = "förändringen börjar hos dig";
    [Parameter]
    public string Title { get; set; } = "RIKTNING.FÖRÄNDRING.RESULTAT.";

}
